{
    "presets": [
        ["env",{
            "targets":{
                "browerss":[
                    "last 5 versions",
                    "ie >=8"
                ]
            }
        }]
    ]
}